$red: #DF3926
$orange: #EF6625

body
  font-family: 'EB Garamond', serif

.title
  font-family: 'Lobster', cursive
  color: $red
  small
    color: $orange

body
  background-color: #252816
  background-image: url(topography)
  background-size: 800px
