body
  font-family: 'Neuton', serif
  color: $body-color
  background-color: $bg
  background-image: image-url('topography.svg')
  background-size: 800px

img
  max-width: 100%

a, a:hover
  color: $body-color
  text-decoration: none

p
  font-style: italic
  letter-spacing: 1.5px

h2
  font-family: 'Lobster'
  font-size: 36px

.title
  color: $red
  small
    color: $orange

.btn, .btn:focus
  outline: none !important
  box-shadow: none
