.exhibit{ class:  @exhibit[:name] }
  %header
    .container
      = image_tag "/assets/chlausepragel/header.jpg"
      .row
        .col
          .title
            = @exhibit[:title]
            %small= @exhibit[:date]

  %section
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
    %p ..
