.exhibit
  header
    position: relative
    height: 500px
    background-image: linear-gradient(to bottom, transparentize($blue, .666), darken($bg, 10%))
    background-repeat: no-repeat
    background-size: contain
    .title
      position: absolute
      bottom: 10%
      left: 10%
      width: 80%
    .container
      background-image: url('chlausepragel/header')
      background-repeat: no-repeat
      background-size: contain
      height: 100%
  img
    border: 2px solid lighten($bg, 10%)
  p
    font-size: 18px

  .ribbons
    position: absolute
    top: 60px
    p.ribbon
      position: relative
      left: -47px
      width: 340px
      padding: 0px 40px 5px 50px

      font-style: normal
      font-size: 18px
      background-color: darken($red, 30%)
      color: $yellow
      border-top-right-radius: 16px
      border-bottom-right-radius: 16px
      span
        color: $body-color
        float: right

      &:before
        content: ''
        position: absolute
        left: 0
        top: 32px
        display: block
        height: 32px
        width: 32px
        border-top: 16px solid darken($red, 20%)
        border-right: 16px solid darken($red, 20%)
        border-left: 16px solid transparent
        border-bottom: 16px solid transparent
      &:after
        content: ''
        position: absolute
        right: 0
        top: 0
        display: block
        height: 32px
        width: 32px
        background-image: asset-url('wheel.svg')
  .text
    background-color: transparentize(darken($bg, 10%), .2)
    border: 2px solid lighten($bg, 10%)
    padding: 2rem 4rem 1.25rem
  .finish
    margin-top: 120px
    font-family: 'Lobster'
    font-size: 0
    line-height: 64px
    background-color: darken($bg, 7%)
    border-top: 2px solid lighten($bg, 5%)
    &:hover span
      filter: brightness(.8) saturate(.8)
    span
      font-size: 86px
      position: relative
      top: -36px
      filter: brightness(.4) saturate(.5)
      transition: filter $fast
      &:nth-child(1)
        color: $yellow
      &:nth-child(2)
        color: $orange
      &:nth-child(3)
        color: $red
      &:nth-child(4)
        color: $yellow
      &:nth-child(5)
        color: $blue

  @media screen and (max-width: 1200px)
    header
      height: 140px
      .container
        background-size: cover
    .ribbons
      display: none
    .text
      padding: 1rem 2rem .75rem
      font-size: 16px
    .finish
      margin-top: 80px
      line-height: 48px
      span
        font-size: 38px
        top: -26px
        filter: brightness(.75) saturate(.75)
